@font-face {
   font-family: 'BebasNeue-Bold';
   font-display: swap;
   src: url('file:///C:/Users/asus/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-05-05_131525/fonts/BebasNeue-Bold/font.ttf');
}
