---
layout: default
title: Rostlinná výroba
description: Rostlinná výroba v zemědělství České pirátské strany 
keywords: Rostlinná výroba v zemědělství, tiskové zprávy, press, blog
---


<div class="row">
  <div class="columns">
    <div class="o-section">
      <div class="o-section-inner">
          <header class="c-page-header">
            <h1 itemprop="headline" class="c-page-title">Z rostlinné výroby</h1>
          </header>
          {% assign tag = 'rostlinná-výroba'  %}
         <ul>
          {% for post in site.tags[tag] limit:12 %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>{% endfor %}
        </ul><hr><hr>
         {% assign posts=site.tags[tag] %} 
         {% include articles/list-responsive.html posts=posts %}
         {% include articles/pagination.html paginator=paginator %}
      </div>
    </div>
  </div>
</div>
