<a href="{{ site.github.url }}edit/{{ site.github.branch }}/{{ page.path }}" class="c-suggest-improvement show-for-medium hide-for-print">
  <i class="fa fa-pencil"></i>
  Propose change
</a>

    <aside class="o-section o-section--bigger c-contact-bar u-inverted u-center--medium-down show-for-medium">
      <div class="o-section-inner">
        <div class="row">
          <div class="small-12 columns">
            <header class="c-contact-bar-header u-stacked--medium-down">
              <h3 class="c-contact-bar__heading"> <a href="{{ '/kontakt/' | relative_url }}">Kontakt</a> </h3>
            </header>
                <div class="c-contact-bar__section"> Zahraniční odbor ČPS </div>
                <div class="c-contact-bar__description"> 
                  <a href="mailto:zo@pirati.cz">zo@pirati.cz</a>, 
                </div>
          </div>
        </div>
      </div>
    </aside>


<div class="__vue-root" data-app="ScrollTop"></div>
