
<style>

.btn-icon .btn-wrap .icon {
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: 200ms;
}
.c-green .icon {
    border-left: 1px solid #22a244;
    background: #26b34b;
}


.btn-icon .btn-wrap {
    justify-content: space-between;
    align-items: center;
    height: 45px;
    display: flex;
}

.btn-icon .btn-wrap .text {
    display: block;
    padding: 10px 36px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 1.1rem;
    text-align: center;
}

.btn-icon .btn-wrap .icon img {
    width: auto;
    height: 19px;
    opacity: 0.9;
}


.c-green {
  background: #29bc51;
  color: #FFF; }
  .c-green .icon {
    border-left: 1px solid #22a244;
    background: #26b34b; }
  .c-green:hover {
    color: #FFF;
    background: #000;
    text-decoration: none; }
    .c-green:hover .icon {
      border-left: 1px solid #212121;
      background: #000; }
      .c-green:hover .icon svg {
        fill: #FFF; }
        .c-green:hover .icon svg path {
          fill: #FFF; }
      .c-green:hover .icon i {
        color: #FFF; }

.f-right {
    float:right;
}
</style>

 
<link rel="stylesheet" href="https://jihocesky.pirati.cz/assets/css/styles.css">
<style type="text/css">
sup {
  white-space: nowrap;
}
</style>
 
