
<style>

.btn-icon .btn-wrap .icon {
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: 200ms;
}
.c-green .icon {
    border-left: 1px solid #22a244;
    background: #26b34b;
}


.btn-icon .btn-wrap {
    justify-content: space-between;
    align-items: center;
    height: 45px;
    display: flex;
}

.btn-icon .btn-wrap .text {
    display: block;
    padding: 10px 36px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 1.1rem;
    text-align: center;
}

.btn-icon .btn-wrap .icon img {
    width: auto;
    height: 19px;
    opacity: 0.9;
}


.c-green {
  background: #29bc51;
  color: #FFF; }
  .c-green .icon {
    border-left: 1px solid #22a244;
    background: #26b34b; }
  .c-green:hover {
    color: #FFF;
    background: #000;
    text-decoration: none; }
    .c-green:hover .icon {
      border-left: 1px solid #212121;
      background: #000; }
      .c-green:hover .icon svg {
        fill: #FFF; }
        .c-green:hover .icon svg path {
          fill: #FFF; }
      .c-green:hover .icon i {
        color: #FFF; }

.f-right {
    float:right;
}
</style>


<link rel="icon" type="image/png" href="https://www.piratiastarostove.cz/static/elections2021/images/favicon-bw-180.png" sizes="180x180">
<link rel="icon" type="image/png" href="https://www.piratiastarostove.cz/static/elections2021/images/favicon-bw-120.png" sizes="120x120">

<!-- Styles -->
<link rel="stylesheet" href="https://www.piratiastarostove.cz/static/elections2021/css/styleguide.min.css">
<link rel="stylesheet" href="https://jihocesky.pirati.cz/assets/css/styles.css">
<style type="text/css">
sup {
  white-space: nowrap;
}
</style>
<div class="bg-acidgreen text-black">
             <nav class="medium-12 large-7">
                  <a href="https://www.piratiastarostove.cz/program/">&nbsp;</a>
                </nav>
 
</div>

<div class="bg-lemon">
   <div class="row bg-lemon">
		  <div class="bg-lemon">
			  <table style="border-collapse: unset;"><tbody class=" bg-lemon"><tr class=" bg-lemon">
     				 <td class=" bg-lemon" style="width: 50%;"><a href="https://www.piratiastarostove.cz">
						 <img src="https://www.pirati.cz/assets/img/header/vratmezemibudoucnost_s.png" alt="Piráti a Starostové" style="margin-top: 0px;">
					 </a></td>
      <td style="background-color: #000; width: 50%;"><div class="medium-12 large-7 u-stacked-medium-down columns" style="background-color: #000; height: 85px; padding-top: 10px; padding-left: 5px;">
                 <nav class="c-vertical-navigation u-center---medium-down">
                    
                       <a href="https://www.piratiastarostove.cz/program/"><img src="https://www.piratiastarostove.cz/static/elections2021/images/logo-koalicni.e373206e07e9.svg"></a> 
 
                </nav>
			 </div>	</td>
			 <td style="background-color: #000; width: 7%;">&nbsp;</td>
      </tr></tbody></table>
		  </div>		  
   	   
	</div>
</div>